<section class="section-clients">

  <h3 id="clients" >Resume</h3>
<!-- of course, you should move the inline CSS style to your stylesheet -->
<!-- main container, width = 70% of page, centered -->
<!-- <div id="contentBox" style="margin:5px auto; width:100% height:500px">
<div style="float: left; width: 50%;"> 
CDK Global (cdkglobal.com) CURRENT Portland, OR
<ul> Full stack developer generating reports for automotive dealerships using Angular, JavaScript, D3, Mongo
& Hive. Implemented real-time dashboard to represent dataflow from databases in the last 24 hours</ul>
<ul>  Created API validation tool to guarantee validity of database transfer between database management
systems</ul>
<ul>  Practice fundamental software principles and software life cycles through testing, co-developing,
debugging, project management, and innovation</ul>
<ul>  Current leader for high school/college mentorship program for interns</ul></div>

<div style="float: right; width: 50%;">
  
Intel Ultimate Engineering Experience (intel.com) Summer 2013 Portland, OR
<ul> Developed cross-platform web-based interactive food sorting game using C++, JavaScript, and HTML5 to teach grade school children healthy eating habits</ul>
<ul>Worked closely getting feedback from consumers to ensure the needs of user</ul>


</div>

  <h3 id="clients"> </h3> -->





</div>

</section>
